.alert-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alert-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.3px solid white;
  gap: 15px;
  margin-top: 25px;
}
.alert-like {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  fill: blue;
}
.alert-comment {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  fill: red;
}
.alert-mail {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  fill: silver;
}
.alert-letter {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  fill: blue;
}
