* {
  box-sizing: border-box;
}

:root {
  --first-color: #ecebed;
  --second-color: #323436; /*darkgrey*/
  --third-color: #181a1c; /*darkblack*/
  --fourth-color: #f62e8e;
  --fifth-color: #2e8af6;
  --font-family: ‘Space Grotesk’, sans-serif;
}
