@import "./global.css";
@import "./home_header.css";
@import "./alert.css";

body {
  font-family: ‘Space Grotesk’, sans-serif;
  background-color: var(--third-color);
  color: var(--first-color);
}

.input-text {
  display: flex;
  position: relative;
  justify-content: center;
}
.header {
  width: 33rem;
  height: 2.5rem;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 1px 1px whitesmoke;
  background-color: var(--second-color);
}

.header-icon {
  position: absolute;
  right: 7rem;
  top: 1.5rem;
  color: white;
}
.scroll-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: fit-content;
}

.scroll-bar-tag {
  border: 0.5px solid;
  list-style: none;
  width: 7rem;
  margin: 0px 2px;
  border-radius: 17px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.6rem;
  overflow-x: scroll;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.profile-foto {
  border-radius: 50%;
  /* position: absolute; */
  width: 50px;
  height: 50px;
  display: flex;
}

.tag {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  color: var(--first-color);
}
.user-info {
  display: flex;
}
.post {
  border-radius: 5px;
  width: 80%;
  height: 20rem;
  left: 4rem;
  position: relative;
  box-shadow: 1px 1px 1px silver;
}
.scroll-points {
  display: flex;
  justify-content: center;
  color: var(--first-color);
}
.reaction-tag {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  color: var(--first-color);
}
.time {
  font-size: 60%;
  font-weight: lighter;
}
